<%= form_with(model: @photo, local: true) do |f| %>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :image %>

    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <%= f.submit "Create photo", class: "btn btn-block btn-outline-secondary" %>
<% end %>
